.box {
    border: 1px solid #333;
  }
  
  .box.large {
    width: 180px;
    height: 180px;
  }
  .box.medium {
    width: 120px;
    height: 120px;
  }
  .box.small {
    width: 60px;
    height: 60px;
  }
  
  .box--large {
    width: 180px;
    height: 180px;
  }
  .box--medium {
    width: 120px;
    height: 120px;
  }
  .box--small {
    width: 60px;
    height: 60px;
  }